.calc {
  background-color: rgb(224, 200, 220);
  padding: 0%;
  height: 100vh;
  max-height: 60%;
  align-items: center;
}

@media (max-width: 768px) {
  .calc {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    width: 100vw;
    height: 80vh;
    padding: 0%;
    overflow: visible;
  }
  .calc #log {
    height: 20%;
    width: 100%;
    order: 2;
  }
  .calc .main {
    height: 60%;
    width: 100%;
    order: 1;
  }
  .calc #scienci {
    height: 20%;
    width: 100%;
    order: 3;
  }
}
.light {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  height: 100vh;
}
.light .light .main {
  height: 100vh;
  width: 50vw;
  min-width: 768px;
}
.light .light .main > .screen-b {
  padding: 0%;
}
.light .light .main > .num-b {
  padding: 0%;
}
.light .main > div > * {
  background-color: rgb(223, 231, 237);
  color: black;
  border: solid black 1px;
}
.light .main > div > *:hover {
  background-color: rgb(158, 221, 208);
}
.light .num-b > .numbers {
  background-color: rgb(253, 253, 253);
}
.light .leftover > .numbers {
  background-color: rgb(253, 253, 253);
}

.dark {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  height: 100vh;
  padding: 0%;
}
.dark .dark .main {
  height: 100vh;
  width: 50vw;
  min-width: 768px;
}
.dark .dark > .screen-b {
  padding: 0%;
}
.dark .dark > .num-b {
  padding: 0%;
}
.dark .dark > .leftover {
  padding: 0%;
}
.dark .main > div > * {
  background-color: rgb(97, 79, 101);
  color: rgb(228, 221, 221);
  border: solid rgb(228, 221, 221) 1px;
}
.dark .main > div > *:hover {
  background-color: rgb(140, 116, 151);
}
.dark .dark .num-b > .numbers {
  background-color: rgb(88, 67, 97);
}
.dark .dark .leftover > .numbers {
  background-color: rgb(88, 67, 97);
}

.main {
  height: 100vh;
  width: 50vw;
  align-self: baseline;
}

#scienti {
  background-color: rgb(201, 231, 213);
  border: solid black 1px;
  height: 90vh;
  font-size: large;
  text-align: center;
  max-width: 200px;
  align-self: baseline;
  min-height: auto;
}

#log {
  background-color: rgb(247, 223, 243);
  border: solid black 1px;
  height: 90vh;
  font-size: large;
  text-align: center;
  max-width: 200px;
  align-self: baseline;
}
#log h3 {
  color: grey;
  border-bottom: solid grey 1px;
}

.main > div > * {
  font-size: large;
  text-align: center;
  align-items: stretch;
  padding: 15px;
}

.main > div > *:hover {
  font-size: large;
  text-align: center;
  align-items: stretch;
}

.dark > .main > div > *:hover {
  font-size: large;
  text-align: center;
  align-items: stretch;
}

.main > .screen-b {
  display: grid;
  grid-template-columns: 1fr 3fr 1fr;
  grid-template-rows: repeat(3, 1fr);
}

.main > .num-b {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(3, 1fr);
}

.main > .leftover {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-auto-flow: row;
}

#large-empty-1 {
  grid-column: 1;
  grid-row: 1/3;
}

#eq1 {
  grid-column: 5;
  grid-row: 1/3;
}

#eq {
  align-items: bottom;
}

#lower-1 {
  grid-column: 2/5;
  grid-row: auto;
}

#display {
  background-color: rgb(186, 238, 216);
  color: black;
}

#calculations {
  display: block;
}
#calculations p {
  white-space: pre-wrap;
}

.sci_buttons {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
}
.sci_buttons button {
  font-size: large;
  text-align: center;
  align-items: stretch;
  padding: 15px;
  background-color: rgb(201, 231, 213);
  border: solid black 1px;
}/*# sourceMappingURL=style.css.map */